/* Fonts */
:root {
	--font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-primary: "Inter", sans-serif;
	--font-secondary: "Cardo", sans-serif;
}

/* Colors */
:root {
	--color-default: #fafafa;
	--color-primary: #27a776;
	--color-secondary: #161718;
}

/* Smooth scroll behavior */
:root {
	scroll-behavior: smooth;
}

/* General */
body {
	font-family: var(--font-default);
	color: var(--color-default);
	background-color: #000;
}

a {
	color: var(--color-primary);
	text-decoration: none;
}

a:hover {
	color: #32cf93;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-primary);
}

/* Page Header */
.page-header {
	padding: 120px 0 60px 0;
	min-height: 30vh;
	position: relative;
}

.page-header h2 {
	font-size: 56px;
	font-weight: 500;
	color: #fff;
	font-family: var(--font-secondary);
}

@media (max-width: 768px) {
  	.page-header h2 {
    	font-size: 36px;
  	}
}

.page-header p {
	color: rgba(255, 255, 255, 0.8);
}

.page-header .cta-btn {
	font-family: var(--font-primary);
	font-weight: 400;
	font-size: 14px;
	display: inline-block;
	padding: 12px 40px;
	border-radius: 4px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: 0.3s;
	color: #fff;
	background: var(--color-primary);
}

.page-header .cta-btn:hover {
	background: #2cbc85;
}

/* Scroll top button */
.scroll-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: -15px;
	z-index: 99999;
	background: var(--color-primary);
	width: 44px;
	height: 44px;
	border-radius: 50px;
	transition: all 0.4s;
}

.scroll-top i {
  	font-size: 24px;
  	color: #fff;
  	line-height: 0;
}

.scroll-top:hover {
  	background: rgba(39, 167, 118, 0.8);
  	color: #fff;
}

.scroll-top.active {
  	visibility: visible;
  	opacity: 1;
  	bottom: 15px;
}

/* Header */
.header {
	width: 1200px;
	transition: all 0.5s;
	z-index: 997;
	padding: 30px 0;
	background-color: #000;
	margin: auto;
}

.header .logo {
  	transition: 0.3s;
}

.header .logo img {
 	max-height: 40px;
  	margin-right: 8px;
}

.header .logo h1 {
  	font-size: 32px;
  	margin: 0;
  	font-weight: 400;
  	color: #fff;
  	font-family: var(--font-secondary);
}

.header .logo i {
  	font-size: 32px;
  	margin-right: 8px;
  	line-height: 0;
}

@media (max-width: 575px) {
  	.header .logo h1 {
    	font-size: 26px;
  	}

	.header .logo i {
    	font-size: 24px;
  	}
}

.header .header-social-links {
  	padding-right: 15px;
}

.header .header-social-links a {
  	color: rgba(255, 255, 255, 0.5);
  	padding-left: 15px;
  	display: inline-block;
  	line-height: 0px;
  	transition: 0.3s;
  	font-size: 16px;
}

.header .header-social-links a:hover {
  	color: #fff;
}

@media (max-width: 575px) {
  	.header .header-social-links a {
    	padding-left: 5px;
  	}
}

/* About Section */
.about .content h2 {
  	font-weight: 700;
  	font-size: 24px;
  	color: var(--color-primary);
}

.about .content ul {
  	list-style: none;
  	padding: 0;
}

.about .content ul li {
  	margin-bottom: 20px;
  	display: flex;
	  align-items: center;
}

.about .content ul strong {
  	margin-right: 10px;
}

.about .content ul i {
  	font-size: 16px;
  	margin-right: 5px;
  	color: var(--color-primary);
  	line-height: 0;
}

/* Testimonials Section */
.testimonials {
  	margin-top: 80px;
}

/* Footer */
.footer {
	margin-top: 30px;
	padding: 30px 0;
	font-size: 14px;
	border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer .copyright {
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
}